version: "3"
services:
  bnk-node:
    image: boolnetwork/bnk-node:latest
    ports:
      - "9933:9933"
      - "9944:9944"
      - "30333:30333"
    environment:
      RUST_LOG: info
    volumes:
      - ./node-data:/data"
    command: |
      --unsafe-rpc-external
      --unsafe-ws-external
      --rpc-cors all

  bnk-database:
    image: boolnetwork/bnk-database:latest
    network_mode: "host"
    # ports:
    #   - "8710:8710"
    environment:
      RUST_LOG: info
    volumes:
      - ./configs/db.toml:/bnk/db.toml
      - ./data:/bnk/data

  bnk-watcher:
    image: boolnetwork/bnk-watcher:latest
    network_mode: "host"
    # ports:
    #     - "8720:8720"
    environment:
        RUST_LOG: info
    volumes:
        - ./configs/watcher.toml:/bnk/watcher.toml
    depends_on:
        - bnk-database

  bnk-sgx-key-server:
    image: boolnetwork/bnk-sgx-key-server:latest
    network_mode: "host"
    # ports:
    #     - "8730:8730"
    environment:
        RUST_LOG: info
    volumes:
        - ./configs/key.toml:/bnk/key.toml
    devices:
        - /dev/sgx/enclave
        - /dev/sgx/provision
    depends_on:
        - bnk-watcher

  bnk-monitor:
    image: boolnetwork/bnk-monitor:latest
    network_mode: "host"
    # ports:
    #     - "8740:8740"
    environment:
        RUST_LOG: warn,info=bnk_monitor
    volumes:
        - ./configs/monitor.toml:/bnk/monitor.toml
        - ./data/:/bnk/data

  bnk-relayer:
    image: boolnetwork/bnk-relayer:latest
    network_mode: "host"
    # ports:
    #     - "8750:8750"
    environment:
        RUST_LOG: debug
    command: |
      -w=http://127.0.0.1:8720
      -m=http://127.0.0.1:8740
      -p=8750